@import "../../../assets/css/config.scss";

.home-main-container-ltr
{
    width: 99%;
    margin-left: 7% !important;
    padding-bottom: 300px !important;
}

.home-main-container-rtl
{
    width: 99%;
    margin-right: 7% !important;
    padding-bottom: 300px !important;
}

.home-scrollable
{
    overflow-y: scroll;
}

.mt-15
{
    margin-top: 45px !important;
}

.pt-15
{
    padding-top: 45px !important;
}

