@import "../../../assets/css/config.scss";

.masterLayout-mainContainer
{
    position: relative; 
}

.masterLayout-bodyContainer
{
    top: 0;
    height: 100%;
    display: flex;
    flex-flow: column;
    z-index: 10 !important;
}

.masterLayout-headerBackgorund
{
    width: 93%;
    height: 122px;
    position: absolute;
}

.t-light-masterLayout-headerBackgorund-filter
{
    filter: blur(7px);
}

.t-dark-masterLayout-headerBackgorund-filter
{
    filter: blur(1px);
}

.masterLayout-headerContainer
{
    width: 93%;
    height: 122px;
    z-index: 900 !important;
}

.search-container
{
    width: 107%;
    background-color: $color-white;
    z-index: 1000 !important;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
    height: 55px;
}

.mt-10
{
    margin-top: 30px !important;
}

.filter-container
{
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.search-column
{
    height: 100%;
}

.header-input
{
    z-index: 10000;
    background-color: transparent;
    position: absolute;
    width: 30%;
}

.dropdown-container
{
    position: absolute;
    bottom: - 10px !important;
    margin-left: 40px !important;
    z-index: 1000 !important;
}
