@import "../../../assets/css/config.scss";

.masterLayout-mainContainer
{
    position: relative; 
}

.masterLayout-bodyContainer
{
    top: 0;
    height: 100%;
    display: flex;
    flex-flow: column;
    z-index: 10 !important;
}

.masterLayout-headerBackgorund
{
    width: 93%;
    height: 122px;
    position: absolute;
}

.t-light-masterLayout-headerBackgorund-filter
{
    filter: blur(7px);
}

.t-dark-masterLayout-headerBackgorund-filter
{
    filter: blur(1px);
}

.masterLayout-headerContainer
{
    width: 93%;
    height: 122px;
}