@import "../../../assets/css/config.scss";

.skeletonSceen-blink
{
    animation: blinker 1s linear infinite;
}

.skeletonSceen-imageProfile
{
    height: 45pt;
    width: 45pt;
    border-radius: 22.5pt;
}

.skeletonSceen-25-width
{
    width: 25% !important;
}

.skeletonSceen-half-width
{
    width: 50% !important;
}

.skeletonSceen-75-width
{
    width: 75% !important;
}

.skeletonSceen-banner
{
    height: 245px;
}
.skeletonSceen-circle
{
    height: 125px;
    width: 125px !important;
    border-radius: 50%;
    animation: blinker 1s linear infinite;
}

.menu-item
{
    width: 425px !important;
    background-color: $color-white;
    z-index: 11;
    height: 200px;
    margin-bottom: 50px !important;
}

.item-image
{
    width: 150px !important;
    height: 150px !important;
}

.price-container
{
    margin-top: 55px !important;
    padding-left: 1px !important;
}

.price-text
{
    margin-top: 10px !important;
}

.best-sale-container
{
    background-color: #D0EAE3;
    position: absolute !important;
    margin-top: 100px !important;
    left: -30px !important;
    color: #599887 !important;
}




