@import "../../../assets/css/config.scss";

.item-image-modal
{
    width: 100% !important;
    height: 300px !important;
}

.price-container
{
    margin-top: 55px !important;
    padding-left: 1px !important;
}

.qunantity-text
{
    margin-top: 12px !important;
}

.best-sale-container
{
    background-color: #D0EAE3;
    position: absolute !important;
    margin-top: 100px !important;
    left: -30px !important;
    color: #599887 !important;
}