@import "config";

.t-light-bg-header
{
    background-color: $color-header-bg-color;
}

/* BODY ELEMENT */
.t-light-element
{
    background-color: $color-light-element !important;
    color: $color-light-alternative-highlight;
    border:2px solid transparent;
    outline: none !important;
    -webkit-transition: border $animation-speed-slow ease-in-out;
	transition: border $animation-speed-slow ease-in-out;
}
.t-light-element::-moz-placeholder,
.t-light-element:-moz-placeholder,
.t-light-element:-ms-input-placeholder,
.t-light-element::-webkit-input-placeholder
{
    color: $color-light-alternative !important;
}
.t-light-element:focus
{
    border:2px solid $color-light-alternative-highlight;
    -webkit-transition: border $animation-speed-slow ease-in-out;
	transition: border $animation-speed-slow ease-in-out;
}

/* BUTTON DISABLED */
.t-light-custom-disabled-button:disabled, .t-light-custom-disabled-button:disabled:hover
{
    cursor: not-allowed !important;
    opacity: 1 !important;
    background-color: $color-light-exception !important;
    color: #838383 !important;    
}

/* INPUT ELEMENT */
.t-light-input:-webkit-autofill,
.t-light-input:-webkit-autofill:hover, 
.t-light-input:-webkit-autofill:focus
{
    border: unset;
    -webkit-text-fill-color: $color-light-alternative-highlight;
    background-color: unset;
    transition: background-color 5000s ease-in-out 0s;
}


/* BACKGROUND COLOR */
.t-light-bg-dark
{
    background-color: $color-dark-secondary;
}
.t-light-bg-exception
{
    background-color: $color-light-exception !important;
}
.t-light-bg-body
{
    background-color: $color-light-primary;
}
.t-light-bg-primary
{
    background-color: $color-light-primary;
}
.t-light-bg-primary-highlight
{
    background-color: $color-light-primary-highlight;
}
.t-light-bg-secondary
{
    background-color: $color-light-secondary !important;
}
.t-light-bg-secondary-highlight
{
    background-color: $color-light-secondary-highlight;
}
.t-light-bg-tertiary
{
    background-color: $color-light-secondary !important;
}
.t-light-bg-tertiary-highlight
{
    background-color: $color-light-secondary-highlight !important;
}
.t-light-bg-accent
{
    background-color: $color-light-accent !important;
}
.t-light-bg-accent-highlight
{
    background-color: $color-light-accent-highlight;
}
.t-light-bg-alternative
{
    background-color: $color-light-alternative;
}
.t-light-bg-alternative-highlight
{
    background-color: $color-light-alternative-highlight;
}

/* TEXT COLOR */
.t-light-text-primary
{
    -webkit-text-fill-color: $color-light-primary ;
    color: $color-light-primary;
    fill: $color-light-primary;
}
.t-light-text-primary-highlight
{
    color: $color-light-primary-highlight;
    fill: $color-light-primary-highlight;
}
.t-light-text-secondary
{
    color: $color-light-secondary;
    fill: $color-light-secondary;
}
.t-light-text-secondary-highlight
{
    color: $color-light-secondary-highlight;
    fill: $color-light-secondary-highlight;
}
.t-light-text-accent
{
    color: $color-light-accent !important;
    fill: $color-light-accent;
}
.t-light-text-accent-highlight
{
    color: $color-light-accent-highlight;
    fill: $color-light-accent-highlight;
}
.t-light-text-alternative
{
    color: $color-light-alternative;
    fill: $color-light-alternative;
}
.t-light-text-alternative-highlight
{
    color: $color-light-alternative-highlight;
    fill: $color-light-alternative-highlight;
}
.t-light-text-dark
{
    color: $color-dark-secondary;;
    fill: $color-dark-secondary;;
}
.t-light-text-quaternary
{
    color: $color-light-quaternary;;
    fill: $color-light-quaternary;;
}

/* BORDER */
.t-light-border-primary
{
    border-color: $color-light-primary-with-alpha !important;
}
.t-light-border-primary-highlight
{
    border-color: $color-light-primary-highlight !important;
}
.t-light-border-secondary
{
    border-color: $color-light-secondary !important;
}
.t-light-border-secondary-highlight
{
    border-color: $color-light-secondary-highlight !important;
}
.t-light-border-accent
{
    border-color: $color-light-accent !important;
}
.t-light-border-accent-highlight
{
    border-color: $color-light-accent-highlight !important;
}
.t-light-border-alternative
{
    border-color: $color-light-alternative !important;
}
.t-light-border-alternative-highlight
{
    border-color: $color-light-alternative-highlight !important;
}
.t-light-border-quaternary
{
    border-color: $color-light-quaternary !important;
}

/* BORDER BOTTOM */
.t-light-bb-primary
{
    border-bottom-color: $color-light-primary-with-alpha !important;
}
.t-light-bb-primary-highlight
{
    border-bottom-color: $color-light-primary-highlight !important;
}
.t-light-bb-secondary
{
    border-bottom-color: $color-light-secondary !important;
}
.t-light-bb-secondary-highlight
{
    border-bottom-color: $color-light-secondary-highlight !important;
}
.t-light-bb-accent
{
    border-bottom-color: $color-light-accent !important;
}
.t-light-bb-accent-highlight
{
    border-bottom-color: $color-light-accent-highlight !important;
}
.t-light-bb-alternative
{
    border-bottom-color: $color-light-alternative !important;
}
.t-light-bb-alternative-highlight
{
    border-bottom-color: $color-light-alternative-highlight !important;
}
.t-light-bb-quaternary
{
    border-bottom-color: $color-light-quaternary !important;
}

/* BORDER TOP */
.t-light-bt-primary
{
    border-top-color: $color-light-primary-with-alpha !important;
}
.t-light-bt-primary-highlight
{
    border-top-color: $color-light-primary-highlight !important;
}
.t-light-bt-secondary
{
    border-top-color: $color-light-secondary !important;
}
.t-light-bt-secondary-highlight
{
    border-top-color: $color-light-secondary-highlight !important;
}
.t-light-bt-accent
{
    border-top-color: $color-light-accent !important;
}
.t-light-bt-accent-highlight
{
    border-top-color: $color-light-accent-highlight !important;
}
.t-light-bt-alternative
{
    border-top-color: $color-light-alternative !important;
}
.t-light-bt-alternative-highlight
{
    border-top-color: $color-light-alternative-highlight !important;
}
.t-light-bt-quaternary
{
    border-top-color: $color-light-quaternary !important;
}

/* BORDER RIGHT */
.t-light-br-primary
{
    border-right-color: $color-light-primary-with-alpha !important;
}
.t-light-br-primary-highlight
{
    border-right-color: $color-light-primary-highlight !important;
}
.t-light-br-secondary
{
    border-right-color: $color-light-secondary !important;
}
.t-light-br-secondary-highlight
{
    border-right-color: $color-light-secondary-highlight !important;
}
.t-light-br-accent
{
    border-right-color: $color-light-accent !important;
}
.t-light-br-accent-highlight
{
    border-right-color: $color-light-accent-highlight !important;
}
.t-light-br-alternative
{
    border-right-color: $color-light-alternative !important;
}
.t-light-br-alternative-highlight
{
    border-right-color: $color-light-alternative-highlight !important;
}
.t-light-br-quaternary
{
    border-right-color: $color-light-quaternary !important;
}

/* BORDER LEFT */
.t-light-bl-primary
{
    border-left-color: $color-light-primary-with-alpha !important;
}
.t-light-bl-primary-highlight
{
    border-left-color: $color-light-primary-highlight !important;
}
.t-light-bl-secondary
{
    border-left-color: $color-light-secondary !important;
}
.t-light-bl-secondary-highlight
{
    border-left-color: $color-light-secondary-highlight !important;
}
.t-light-bl-accent
{
    border-left-color: $color-light-accent !important;
}
.t-light-bl-accent-highlight
{
    border-left-color: $color-light-accent-highlight !important;
}
.t-light-bl-alternative
{
    border-left-color: $color-light-alternative !important;
}
.t-light-bl-alternative-highlight
{
    border-left-color: $color-light-alternative-highlight !important;
}
.t-light-bl-quaternary
{
    border-left-color: $color-light-quaternary !important;
}

/* HOVER */
.t-light-hover-body:hover
{
    background-color: $color-light-primary !important;
}
.t-light-hover-exception:hover
{
    background-color: $color-light-exception !important;
}
.t-light-hover-primary:hover
{
    background-color: $color-light-primary;
}
.t-light-hover-primary-highlight:hover
{
    background-color: $color-light-primary-highlight;
}
.t-light-hover-secondary:hover
{
    background-color: $color-light-secondary;
}
.t-light-hover-secondary-highlight:hover
{
    background-color: $color-light-secondary-highlight;
}
.t-light-hover-accent:hover
{
    background-color: $color-light-accent;
}
.t-light-hover-accent-highlight:hover
{
    background-color: $color-light-accent-highlight;
}
.t-light-hover-alternative:hover
{
    background-color: $color-light-alternative;
}
.t-light-hover-alternative-highlight:hover
{
    background-color: $color-light-alternative-highlight;
}
.t-light-hover-quaternary:hover
{
    background-color: $color-light-quaternary;
}

/* TEXT HOVER */
.t-light-text-hover-primary:hover
{
    color: $color-light-primary;
    fill: $color-light-primary;
    -webkit-transition: color $animation-speed-slow ease-in-out;
    -moz-transition:    color $animation-speed-slow ease-in-out;
    -o-transition:      color $animation-speed-slow ease-in-out;
    -ms-transition:     color $animation-speed-slow ease-in-out;
    transition:         color $animation-speed-slow ease-in-out;
}
.t-light-text-hover-primary-highlight:hover
{
    color: $color-light-primary-highlight;
    fill: $color-light-primary-highlight;
    -webkit-transition: color $animation-speed-slow ease-in-out;
    -moz-transition:    color $animation-speed-slow ease-in-out;
    -o-transition:      color $animation-speed-slow ease-in-out;
    -ms-transition:     color $animation-speed-slow ease-in-out;
    transition:         color $animation-speed-slow ease-in-out;
}
.t-light-text-hover-secondary:hover
{
    color: $color-light-secondary;
    fill: $color-light-secondary;
    -webkit-transition: color $animation-speed-slow ease-in-out;
    -moz-transition:    color $animation-speed-slow ease-in-out;
    -o-transition:      color $animation-speed-slow ease-in-out;
    -ms-transition:     color $animation-speed-slow ease-in-out;
    transition:         color $animation-speed-slow ease-in-out;
}
.t-light-text-hover-secondary-highlight:hover
{
    color: $color-light-secondary-highlight;
    fill: $color-light-secondary-highlight;
    -webkit-transition: color $animation-speed-slow ease-in-out;
    -moz-transition:    color $animation-speed-slow ease-in-out;
    -o-transition:      color $animation-speed-slow ease-in-out;
    -ms-transition:     color $animation-speed-slow ease-in-out;
    transition:         color $animation-speed-slow ease-in-out;
}
.t-light-text-hover-accent:hover
{
    color: $color-light-accent;
    fill: $color-light-accent;
    -webkit-transition: color $animation-speed-slow ease-in-out;
    -moz-transition:    color $animation-speed-slow ease-in-out;
    -o-transition:      color $animation-speed-slow ease-in-out;
    -ms-transition:     color $animation-speed-slow ease-in-out;
    transition:         color $animation-speed-slow ease-in-out;
}
.t-light-text-hover-accent-highlight:hover
{
    color: $color-light-accent-highlight;
    fill: $color-light-accent-highlight;
    -webkit-transition: color $animation-speed-slow ease-in-out;
    -moz-transition:    color $animation-speed-slow ease-in-out;
    -o-transition:      color $animation-speed-slow ease-in-out;
    -ms-transition:     color $animation-speed-slow ease-in-out;
    transition:         color $animation-speed-slow ease-in-out;
}
.t-light-text-hover-alternative:hover
{
    color: $color-light-alternative;
    fill: $color-light-alternative;
    -webkit-transition: color $animation-speed-slow ease-in-out;
    -moz-transition:    color $animation-speed-slow ease-in-out;
    -o-transition:      color $animation-speed-slow ease-in-out;
    -ms-transition:     color $animation-speed-slow ease-in-out;
    transition:         color $animation-speed-slow ease-in-out;
}
.t-light-text-hover-alternative-highlight:hover
{
    color: $color-light-alternative-highlight !important;
    fill: $color-light-alternative-highlight;
    -webkit-transition: color $animation-speed-slow ease-in-out;
    -moz-transition:    color $animation-speed-slow ease-in-out;
    -o-transition:      color $animation-speed-slow ease-in-out;
    -ms-transition:     color $animation-speed-slow ease-in-out;
    transition:         color $animation-speed-slow ease-in-out;
}
.t-light-text-hover-quaternary:hover
{
    color: $color-light-quaternary !important;
    fill: $color-light-quaternary;
    -webkit-transition: color $animation-speed-slow ease-in-out;
    -moz-transition:    color $animation-speed-slow ease-in-out;
    -o-transition:      color $animation-speed-slow ease-in-out;
    -ms-transition:     color $animation-speed-slow ease-in-out;
    transition:         color $animation-speed-slow ease-in-out;
}

/* FOCUS */
.t-light-focus-primary:focus
{
    background-color: $color-light-primary;
}
.t-light-focus-primary-highlight:focus
{
    background-color: $color-light-primary-highlight;
}
.t-light-focus-secondary:focus
{
    background-color: $color-light-secondary;
}
.t-light-focus-secondary-highlight:focus
{
    background-color: $color-light-secondary-highlight;
}
.t-light-focus-accent:focus
{
    background-color: $color-light-accent;
}
.t-light-focus-accent-highlight:focus
{
    background-color: $color-light-accent-highlight;
}
.t-light-focus-alternative:focus
{
    background-color: $color-light-alternative;
}
.t-light-focus-alternative-highlight:focus
{
    background-color: $color-light-alternative-highlight;
}
.t-light-focus-quaternary:focus
{
    background-color: $color-light-quaternary;
}

/* FOCUS TEXT COLOR */
.t-light-focus-color-primary:focus
{
    color: $color-light-primary;
    fill: $color-light-primary;
}
.t-light-focus-color-primary-highlight:focus
{
    color: $color-light-primary-highlight;
    fill: $color-light-primary-highlight;
}
.t-light-focus-color-secondary:focus
{
    color: $color-light-secondary;
    fill: $color-light-secondary;
}
.t-light-focus-color-secondary-highlight:focus
{
    color: $color-light-secondary-highlight;
    fill: $color-light-secondary-highlight;
}
.t-light-focus-color-accent:focus
{
    color: $color-light-accent;
    fill: $color-light-accent;
}
.t-light-focus-color-accent-highlight:focus
{
    color: $color-light-accent-highlight;
    fill: $color-light-accent-highlight;
}
.t-light-focus-color-alternative:focus
{
    color: $color-light-alternative;
    fill: $color-light-alternative;
}
.t-light-focus-color-alternative-highlight:focus
{
    color: $color-light-alternative-highlight;
    fill: $color-light-alternative-highlight;
}
.t-light-focus-color-quaternary:focus
{
    color: $color-light-quaternary;
    fill: $color-light-quaternary;
}

/* CARET COLOR */
.t-light-caret-color-primary
{
    caret-color: $color-light-primary;
}
.t-light-caret-color-primary-highlight
{
    caret-color: $color-light-primary-highlight;
}
.t-light-caret-color-secondary
{
    caret-color: $color-light-secondary;
}
.t-light-caret-color-secondary-highlight
{
    caret-color: $color-light-secondary-highlight;
}
.t-light-caret-color-accent
{
    caret-color: $color-light-accent;
}
.t-light-caret-color-accent-highlight
{
    caret-color: $color-light-accent-highlight;
}
.t-light-caret-color-alternative
{
    caret-color: $color-light-alternative;
}
.t-light-caret-color-alternative-highlight
{
    caret-color: $color-light-alternative-highlight;
}
.t-light-caret-color-quaternary
{
    caret-color: $color-light-quaternary;
}


/* stroke COLOR */
.t-light-stroke-dark
{
    stroke: $color-dark-secondary;
}
.t-light-stroke-exception
{
    stroke: $color-light-exception !important;
}
.t-light-stroke-body
{
    stroke: $color-light-primary;
}
.t-light-stroke-primary
{
    stroke: $color-light-primary;
}
.t-light-stroke-primary-highlight
{
    stroke: $color-light-primary-highlight;
}
.t-light-stroke-secondary
{
    stroke: $color-light-secondary !important;
}
.t-light-stroke-secondary-highlight
{
    stroke: $color-light-secondary-highlight;
}
.t-light-stroke-tertiary
{
    stroke: $color-light-secondary !important;
}
.t-light-stroke-tertiary-highlight
{
    stroke: $color-light-secondary-highlight !important;
}
.t-light-stroke-accent
{
    stroke: $color-light-accent;
}
.t-light-stroke-accent-highlight
{
    stroke: $color-light-accent-highlight;
}
.t-light-stroke-alternative
{
    stroke: $color-light-alternative;
}
.t-light-stroke-alternative-highlight
{
    stroke: $color-light-quaternary ; 
}

/* FILL COLOR */
.t-light-fill-dark
{
    fill: $color-dark-secondary;
}
.t-light-fill-exception
{
    fill: $color-light-exception !important;
}
.t-light-fill-body
{
    fill: $color-light-primary;
}
.t-light-fill-primary
{
    fill: $color-light-primary;
}
.t-light-fill-primary-highlight
{
    fill: $color-light-primary-highlight;
}
.t-light-fill-secondary
{
    fill: $color-light-secondary !important;
}
.t-light-fill-secondary-highlight
{
    fill: $color-light-secondary-highlight;
}
.t-light-fill-tertiary
{
    fill: $color-light-secondary !important;
}
.t-light-fill-tertiary-highlight
{
    fill: $color-light-secondary !important;
}
.t-light-fill-accent
{
    fill: $color-light-accent;
}
.t-light-fill-accent-highlight
{
    fill: $color-light-accent-highlight;
}
.t-light-fill-alternative
{
    fill: $color-light-alternative;
}
.t-light-fill-alternative-highlight
{
    fill: $color-light-quaternary;
}